.header {
    background-color: white;
    padding: 20px;
    text-align: center;
  }
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .flex-item {
    background-color: white;
    background-position: center center;
    background-size: cover;
    position: center center;
    margin: 2px;
    flex: auto;
    height: auto;
    flex-basis: 200px;
  }